::selection {
  color: #fff; 
  background: #000;
}

:global {
  #App {
    font-family: sans-serif;
    line-height: 2em;
    background-color: #000;
    color: #555;

    &.development {
      background-color: #ffcc00;
      color: #000;
    }

    &.production {
      background-color: #ffcc00;
      color: #8a7813;
    }

    .is-done {
      background-color: green;
      border-radius: 5px;
      padding: 0 10px;
      color: #fff;
    }

    .is-fail {
      background-color: red;
      border-radius: 5px;
      padding: 0 10px;
      color: #fff;
    }
  }
}

.data {
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
}