$config: (
  background:(
  ),

  button:(
  ),

  footer:(
  ),

  header:(
  ),

  menu:(
  ),

  modal:(
  ),

  typography:(
  ),

  about:(
    backgroundColor: #000,
    textColor: #333,
  ),
);
